
.navLink
{
    margin-left: 10px;
    height: 25px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    border-radius: 10px;
    background-color: white;
    color:black;
    box-shadow: 3px 3px 5px #aaaaaa;
}

.navLink:hover
{
    background-color: black;
    color: white;

}

#navPanel
{
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    height: 45px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
}